<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title |html}}</title>
</head>
<body>
    <h1>{{.Title |html}}</h1>
    <form action="/save/{{.Title |html}}" method="post">
        <div>
            <textarea rows="10" name="body" style="width:100%">{{printf "%s" .Body |html}}</textarea>
        </div>
        <div>
            <input type="submit" value="submit"/>
        </div>
    </form>
</body>
</html>