[mysqld]
# 唯一标识，内网唯一
server_id = 2

# 开启二进制日志功能，以备Slave作为其它Slave的Master时使用
log-bin=mysql-slave-bin

# 日志记录的格式类型
binlog_format=STATEMENT 

# relay_log配置中继日志
relay_log=edu-mysql-relay-bin

# max_binlog_size = 512M  　　 # 单个日志文件最大
# # expire_logs_day = 3    　　 # 日志有效期（天）
# # replicate_do_db = test1,test2 # 是在slave上配置，指定slave要复制哪个库
# # replicate-ignore-db=mysql,performance_schema,information_schema  # 是在slave上配置，指定slave要忽略哪个库
# relay_log_recovery = 1  　　 # 从库建议开启，有利于数据一致性
# log_slave_updates = 1   　　 # 如果从库还会用做主库，建议开启